@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.txt-sans-serif {
  font-family: 'Josefin Sans', sans-serif;
} 

.txt-serif {
  font-family: 'Crimson Text', serif;
} 

.red {
    color: red;
}

.grey {
    color: rgb(196, 196, 196);
}

.font-size-lg {
    font-size: 18pt;
}

.font-size-md {
    font-size: 12pt;
}

.font-size-sm {
    font-size: 10pt;
}

.font-italic {
    font-style: italic;
}

.descriptive-text {
    font-family: 'Crimson Text', serif;
    color: rgb(196,196,196);
}

.section_title {
    text-align: center;
}

.section_title > hr {
    color: black;
    background: black;
    width: 15%;
}

body {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*

NAVIGATION

*/

#mainNav {
    position: relative;
    top: 0px;
    height: 60px;
    width: 100%;
}

#mainNav.open {
    transition: height 1s;
    height: 420px;
}

.nav_logo {
    position: absolute;
    left: 5px;
}

.nav_hamburger {
    display: none;
    position: absolute;
    right: 40px;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.nav_list {
    display: inline;
    list-style: none;
}

#navList.open {
    display: inline;
}


.nav_list > li > a {
    color: black;
    text-decoration: none;
}

.nav_list > li > a:hover {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

.nav_list > li > hr {
    color: black;
    background-color: black;
}

/*

MAIN

*/

main {
    width: 100%;
}


/*

HOME

*/

.home_image {
    position: relative;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    
}

.home_image > p {
    position: absolute;
    top: 40%;
    left: 15%;
    height: 20%;
    width: 70%;
    text-align: center;
    color: white;
}

.home_image_mainTitle {
    font-size: 1.8em;
}

.home_image_subTitle {
    font-size: 0.5em;
}

.home_description {
    text-align: center;
}

.home_description_design_agency {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.home_description_design_agency > ul {
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.home_description_design_agency > ul > li {
    display: inline-block;
}

.home_description_design_agency_middle {
    vertical-align: middle;
    color: white;
    background-color: black;
    width: 70%;
    max-width: 250px;
    height: 30px;
}

.home_description_design_agency_text {
    font-size: 7pt;
}

.home_description_design_agency_line {
    background-color: black;
    width: 10%;
    max-width: 30px;
    height: 1px;
    padding: 0px;
    margin: 0px -4px 0px -4px;;
    
}

/*

WORK

*/


.work_description,
.work_nav,
.work_see_all {
    text-align: center;
}

.work_nav {
    padding: 0;
}
.work_nav > li {
    display: inline-block;
    padding: 1.5em;
}

.work_nav > li > a {
    color: black;
    text-decoration: none;
}

.work_nav > li > a:hover {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

.work_gallery {
    display: flex;
    flex-wrap: wrap;
}



.work_gallery > figure > figcaption {
    padding: 0.8em 0 0.8em 0;;
}

#workImage1 {
    background-image: url("../images/image2.jpg");
}

#workImage2 {
    background-image: url("../images/image3.jpg");
}

#workImage3 {
    background-image: url("http://placehold.it/372x372");
}

#workImage4 {
    background-image: url("../images/image5.jpg");
}

#workImage5 {
    background-image: url("../images/image6.jpg");
}

#workImage6 {
    background-image: url("../images/image7.jpg");
}

/*  WORK SERVICES   */

.work_services {
    display: flex;
    flex-flow: wrap;
}

.work_services_image {
    position: relative;
    background-image: url("../images/image8.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
}

.work_services_image_title {
    background: white;
    width: 30%;
    height: 30%;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2%;
}

.work_services_image_title > hr {
    color: black;
    background: black;
    width: 30%;
}

.work_services_list {
    list-style: none;
    //position: relative;
    width: 100%;
    height: 450px;
    padding-left: 10px;
}

.work_services_list > li {
    position: relative;
    top: 10%;
    left: 0%;
    height: 20%;
}

.work_services_list > li > img {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 45px;
    height: 40px;
    padding: 15px 5px 15px 5px;
    border: 1pt solid red;
    
}

.work_services_list > li > p {
    position: absolute;
    top: 18%;
    left: 80px;
    width: 80%;
    
}

.work_see_all {
    position: relative;
    height: 100px;
}

.work_see_all > p {
    width: 120px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 2pt solid black;
}

/*

BLOG

*/

.blog_gallery {
    display: flex;
    flex-flow: wrap
}

.blog_gallery > figure {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blog_gallery > figure > div {
    width: 100%;
    height: 200px;
}

.blog_gallery > figure > figcaption {
    padding: 1.5em;
    padding-left: 0em;
}

#blogImage1 {
    background-image: url("../images/image9.jpg");
    background-size: cover;
}

#blogImage2 {
    background-image: url("../images/image10.jpg");
    background-size: cover;
}

#blogImage3 {
    background-image: url("../images/image11.jpg");
    background-size: cover;
}

.blog_work {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 120px;
    padding: 30px;
    border: 1pt solid black;
}


/*

CONTACT

*/

.contact_list {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    border: 2em solid rgb(251, 226, 226);
    border-top: none;
}

.contact_list > li {
    display: inline-block;
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

.contact_list_left {
    text-align: left;;
}

.contact_list_middle {
    text-align: center;
}

.contact_list_right {
    text-align: right;
}

.contact_copyright {
    text-align: center;
}